{% extends 'base.html' %}

{% block content %}
    <br>
    <h2 class="top">
        Readings
    </h2>
    <input class="form-control" list="datalistOptions" id=readerDataList" placeholder="Type to search...">
    <datalist id="datalistOptions">
      <option value="San Francisco">
      <option value="New York">
      <option value="Seattle">
      <option value="Los Angeles">
      <option value="Chicago">
    </datalist>
        <object data="https://arxiv.org/pdf/0704.0001.pdf"
                width="100%"
                height="800">
        </object>

{% endblock %}